<html>
<body>
	<div>
		<!-- Get the desired color of an LED -->
		<fieldset>
			<legend>Choose wisely!</legend>
			<div>
				<input type="color" id="led-color" value="#000000" oninput="sendrgb()" />
				<label for="led-color">LED Color</label>
			</div>
		</fieldset>
	</div>

	<script type="text/javascript">
		// Setting up the websocket (client-side)
		var webSocket;
		if (window.location.protocol == "https:") {
			var ws_scheme = "wss://";
		} else {
			var ws_scheme = "ws://";
		}
		// webSocket = new WebSocket(ws_scheme + window.location.hostname + '/subscribe'); // for production
		webSocket = new WebSocket(ws_scheme + window.location.hostname + ":8000/subscribe")
		webSocket.onmessage = function(event) { onMessage(event); }
		// User-defined functions
		function hexToRgb(hex) {
			var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
			return result ? {
				r: parseInt(result[1], 16),
				g: parseInt(result[2], 16),
				b: parseInt(result[3], 16)
			} : null;
		}
		function sendrgb() {
			var hex = document.getElementById('led-color').value;
			var rgb = hexToRgb(hex);
			webSocket.send(JSON.stringify(rgb));
		}
		function onMessage(event) {
			console.log(event.data);
		}
		// Keep websocket open by continuously pinging
		function pingServer(){
			webSocket.send("");
		}
		setInterval(pingServer,50000);
	</script>

</body>
</html>